<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>View your Results</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/staff/createQuiz.css">

    <link rel="stylesheet" href="/student/takeQuiz.css">
    <script src="/student/getResult.js"></script>
</head>
<body>

-Qs:
-{{questionSets}}
-Test:
-{{testKey}}
-QuizID: {{quizID}}
-
<div class="panel panel-default panel-custom">
    <div  class="panel-body">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
                -                    <h1>Quiz - ID:  {{quizID}} </h1>
                +                    <h1>Quiz - ID:  {{quizID}} </h1> //change to title
            </div>
        </div>

        @@ -56,7 +50,7 @@ QuizID: {{quizID}}
        <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
            <p>
                <br>
                -                            Question 1 will go here
                +                            Question 1 will go here
                <br>
                <br>
                Students answer to 1 goes here
                @@ -78,29 +72,6 @@ QuizID: {{quizID}}
            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-0">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
                -                        <p>
                -                            <br>
                -                            Question 2 will go here
                -                            <br>
                -                            <br>
                -                            Students answer to 2 goes here
                -                            <br>
                -                            Correct answer for 2 goes here
                -                            <br>
                -                            Explanation will go here
                -                        </p>
                -                    </div>
            -                </div>
        -
        -            </div>
    -        </div>
-        <div class="panel panel-default panel-custom">
    -            <div  class="panel-body">
    -
    -                <div class="row">
    -                    <div class="col-lg-3 col-md-3 col-sm-3  col-xs-0">
    -                    </div>
    -                    <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
    <button id="backButton" onclick="goBack()">Go Back</button>
</div>
</div>