<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
authors: Vlad, Can, Allan
-->
<html>
<head>
    <title>Create quiz</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/staff/createQuiz.css">

    <link rel="stylesheet" href="/student/takeQuiz.css">
    <script src="/student/takeQuiz.js"></script>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
</head>
<body>


<div class="panel panel-default panel-custom">
    <div  class="panel-body">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
                <h1>Quiz ID:  {{quizID}} </h1>
            </div>
        </div>

    </div>
</div>

<div id="startButton" class="panel panel-default panel-custom">
    <div  class="panel-body">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
                <p>Press the "Start Quiz" button to start the test.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-0">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
                <button onclick="startQuiz()">Start Quiz</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-0">
            </div>
        </div>

    </div>
</div>

<div id="counterContainer" class="panel panel-default panel-custom">
    <div  class="panel-body">

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-0">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
                <p> Seconds elapsed: </p>
                <p id="counter"> 0 </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-0">
            </div>
        </div>

    </div>
</div>
<form action="" method="POST">

    <div id="questionContainer" >
        {{#allQuestions}}
        <div class="panel panel-default panel-custom">
            <div  class="panel-body">
                <div class="row">
                     
                    <div class="col-lg-3 col-md-3 col-sm-3  col-xs-0">{{{question}}} </div>
                        <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
                        <div class="row" >
                            {{#answers}}
                                <div><p><input type="checkbox" name="question{{question_id}}" value="{{answer_id}}">{{answer}}</div></p>
                            {{/answers}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/allQuestions}}


        <div class="panel panel-default panel-custom">
            <div  class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3  col-xs-0"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
                        <input type="hidden" name="quizID" value="{{quizID}}">
                        <input type="hidden" name="duration" value="0" id="FormCounter">
                        <input type="submit" id="submitButton" onclick="endQuiz()">
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
</body>
</html>

