<!DOCTYPE html>
<html lang="en">
<head>
    <title> Quiz System - Group 8 </title>
    <meta name="viewport" content="width-device-width, initial-scale-1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="headerStyle.css">

</head>


<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-default" style="margin-bottom:0;">
    <div class="container-fluid">

        <!-- Logo -->
        <div class="navbar-header">
            <a href="main" class="navbar-brand"> <img class="img-responsive" style="width:256px;" src="Logo.png"> <small style="float:right;">Be Inquisitive.</small> </a>
        </div>

        <!-- Navigation buttons -->
        <div>


            <!--Left Side-->
            <ul class="nav navbar-nav">
                <li> <a href="{{baseURL}}/staff/quizList"> Quiz List </a></li>
                <li> <a href="{{baseURL}}/staff/createQuiz"> Create Quiz </a></li>
            </ul>

            <!--Right Side-->
            <ul class="nav navbar-nav navbar-right">
                {{#user}}
					<li> <a href="{{baseURL}}/staff/viewProfile"> Logged in as {{username}} </a></li>
                    <li> <a href="{{baseURL}}/logOut"> Log out </a></li>
                {{/user}}
                {{^user}}
                    <li> <a href="{{baseURL}}/staff/login">Staff Login </a></li>
                    <li> <a href="{{baseURL}}/staff/login">Student Login </a></li>
                {{/user}}


            </ul>


        </div>

    </div>
</nav>