<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>View all quizzes</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/staff/createQuiz.css">
    </head>
    <body>

    <div class="panel panel-default panel-custom">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12" id="title-column">
                    <a class="btn btn-default" onclick="/staff/createQuiz">Create new quiz</a>
                </div>
            </div>
        </div>
    </div>

<!--====================Quiz Properties (template)=====================-->
{{#quizList}}
    <div class="panel panel-default panel-custom">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12" id="title-column">
              <h1>Module code: {{module_id}} Quiz Title:{{title}} <a class="btn btn-default" onclick="/staff/createQuiz">View results</a><a class="btn btn-default" onclick="/staff/createQuiz">Edit quiz</a></h1>
          </div>
        </div>
      </div>
    </div>
{{/quizList}}
<!--====================Quiz Properties (template)=====================-->

</html>
