
<html>
    <head>
        <title>Quiz system</title>
        {{> headerResources}}
    </head>

    <body>


        {{> header}}

        <br/>

        Status code 400 - Bad Request
        <br/>
        Something went wrong. Please ensure that your input was correct.

        <br/>

        {{> footer}}

    </body>
</html>