<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
authors: Vlad, Can, Allan
-->
<html>
    <head>
        <title>Quiz completed.</title>

        {{>headerResources}}


        <link rel="stylesheet" href="{{baseURL}}/student/takeQuiz.css">

    </head>
    <body>

        {{>header}}

        <div class="panel panel-default message-panel">
            <div  class="panel-body">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
                        <h1> Quiz completed. </h1>
                        <p> The quiz has successfully been submitted. {{mailResult}} </p>
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>

