<head>
    <title>Example</title>
</head>
<body>
    <h1>Example page</h1>
    <p>Value 'val': {{val}}</p>
    <p>
        Values of 'list':
        {{#list}}
            <p>{{.}}</p>
        {{/list}}
    </p>
</body>