


    
   


<!-- Navigation Bar -->
<nav class="navbar navbar-default" style="margin-bottom:0;">
    <div class="container-fluid">

        <!-- Logo -->
        <div class="navbar-header">
            <a href="{{baseURL}}" class="navbar-brand"> <img class="img-responsive" style="width:256px;" src="{{baseURL}}/Logo.png"> <small style="float:right;">Be Inquisitive.</small> </a>
        </div>

        <!-- Navigation buttons -->
        <div>


            <!--Left Side-->
            <ul class="nav navbar-nav">
            {{#user}}
                {{#isStaff}}
                <li> <a href="{{baseURL}}/staff/quizList"> Quiz List </a></li>
                <li> <a href="{{baseURL}}/staff/createQuiz"> Create Quiz </a></li>
                {{/isStaff}}
                {{^isStaff}}
                    <li> <a href="{{baseURL}}/student/studentQuizList"> Quiz List  </a></li>
                {{/isStaff}}
            {{/user}}
            {{^user}}
                <li> <a href="{{baseURL}}/student/login"> Please log in to use this website. </a></li>
            {{/user}}
            </ul>

            <!--Right Side-->
            <ul class="nav navbar-nav navbar-right">
                {{#user}}
					<li> <a href="{{baseURL}}/staff/viewProfile"> Logged in as {{name}} </a></li>
                    <li> <a href="{{baseURL}}/logout"> Log out </a></li>
                {{/user}}
                {{^user}}
                    <li> <a href="{{baseURL}}/staff/login">Staff Login </a></li>
                    <li> <a href="{{baseURL}}/student/login">Student Login </a></li>
                {{/user}}

            </ul>


        </div>

    </div>
</nav>