<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
authors: Can, Allan
-->
<html>
<head>
    <title>Quiz completed.</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/staff/createQuiz.css">

    <link rel="stylesheet" href="/student/takeQuiz.css">
    <script src="/student/takeQuiz.js"></script>
</head>
<body>


<div class="panel panel-default panel-custom">
    <div  class="panel-body">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
                <h1> Quiz not found. </h1>
                <p>Please ensure that a valid quizID has been specified.</p><br>
                <p><a href="http://localhost:4567/staff/quizList">Click here to go back to the quiz list.</a></p>

            </div>
        </div>

    </div>
</div>

</body>
</html>

