{{> header}}

<link rel="stylesheet" href="/staff/createQuiz.css">

    <div class="panel panel-default panel-custom">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12" id="title-column">
                    <a class="btn btn-default" href="/staff/createQuiz">Create new quiz</a>
                </div>
            </div>
        </div>
    </div>

<!--====================Quiz Properties (template)=====================-->
{{#quizList}}
    <div class="panel panel-default panel-custom">
      <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
              <label>Module ID: {{module_id}} Quiz Title:{{title}} <a class="btn btn-default" href="/staff/viewResults?quizID={{quiz_id}}">View results</a></label>
          </div>
        </div>
      </div>
    </div>
{{/quizList}}
<!--====================Quiz Properties (template)=====================-->

</body>
</html>
