<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>View all quizzes</title>

       
        {{> headerResources}}

       
        <link rel="stylesheet" href="/staff/listQuizzes.css">
         <script src="/staff/listQuizzes.js"></script>
    </head>
    <body>

    {{> header}}
        
        
    <div class="panel-default">
        <div class="panel-heading">
            <h3>Filter quizzes</h3>
        </div>  
        
        <div class="panel-body">
           
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <label for="publishStatusSelect">Publish status: </label>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                        <select id="publishStatusSelect" >
                            <option value="-1">Any</option>
                            <option value="1">Published</option>
                            <option value="0">Unpublished</option>
                        </select>
                    </div>
                    
                    
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                         <label for="quizModule">Module code: </label>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <select id="quizModule"  >
                            <option value="-1">--select--</option>
                            {{#allModules}}
                                <option value="{{.}}">{{.}}</option>
                            {{/allModules}}
                        </select>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                         <label for="creatorNameSurname">Creator: </label>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                       <input id="creatorNameSurname" type="text" placeholder="Part of name/surname" >
                    </div>
                    
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                         <label for="sortBy">Sort by: </label>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <select id="sortBy"  >
                            <option value="-1">--select--</option>
                            <option value="byCode">Module code</option>
                            <option value="byName">Module name</option>
                            <option value="byStatus">Publish status</option>
                            <option value="byTitle">Quiz title</option>
                        </select>
                    </div>
                    
 
                </div>
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <button type="button" onclick="getFiltered()" class="btn btn-primary  btn-sm">Filter</button>
                </div>
                
            </div>
            
            
        </div>    
    </div>    
        
        
<!--    <div class="panel panel-default panel-custom">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12" id="title-column">
                    <a class="btn btn-default" href="/staff/createQuiz">Create new quiz</a>
                </div>
            </div>
        </div>
    </div>-->

    <div id="contentHolder">
        <table class="table">
            <thead>
                <tr>
                    <th>Published?</th>
                    <th>Module code</th>
                    <th>Module name</th>
                    <th>Title</th>
                    <th>Time limit</th>
                    <th>Creator</th>
                    <th>Edit</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>


                {{#quizList}}
                <tr>
                    <td>{{#publish_status}}
                        <span class="glyphicon glyphicon-ok-circle" ></span>
                        {{/publish_status}}
                        {{^publish_status}}
                        <span class="glyphicon glyphicon-remove" ></span>
                        {{/publish_status}}
                    </td>
                    <td>{{module_id}}</td>
                    <td>{{module_name}}</td>
                    <td>{{title}}</td>
                    <td>{{time_limit}}</td>
                    <td>{{first_name}}  {{second_name}}</td>
                    <td><a class="btn btn-primary btn-sm" href="/staff/viewResults?quizID={{quiz_id}}">View</a></td>
                    <td><a class="btn btn-primary btn-sm" href="/staff/EDITQUIZ?quizID={{quiz_id}}">Edit</a></td>
                </tr>
                {{/quizList}}


            </tbody>
        </table>
    </div>



    </body>


</html>
