<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Complete Quizzes</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{>headerResources}}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/staff/listQuizzes.css">
</head>

{{>header}}
{{#studentResults}}
    {{#studResults}}

    <body class="panel-default">
        <div class="panel-heading">
            <h3>{{title}}</h3>
        </div>


    <div id="contentHolder">
        <table class="table table-striped" id="quizResTable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Score</th>
                    <th>View</th>
                </tr>
            </thead>

            <tbody>
            {{#attempts}}
                <tr>
                    <td>{{date}}</td>
                    <td>{{score}}</td>
                    <td><a class="btn btn-primary btn-sm" href="/student/getResult?quizID={{quizID}}&resultID={{resultID}}">View</a></td>
                </tr>
            {{/attempts}}


            </tbody>
        </table>
    </div>
    </body>
    {{/studResults}}
{{/studentResults}}

{{> footer}}