<html>
    <head>
        <title>Student login</title>
        
        {{> headerResources}}
    </head>

    <body>


        {{> header}}

        <br/>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3> Student Login </h3>
                    <p> Please log in by entering your details below. </p>
                </div>

                <div class="panel-body">
                    <form action="{{baseURL}}/staff/login" method="post">
                        <p>Matriculation Number:</p>
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" value="">
                        </div>
                        <p>Password:</p>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" value="">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" value="Submit">
                        </div>
                    </form>
                </div>
            </div>

        </div>

        {{> footer}}

    </body>
</html>