{{> header}}

This is the login page.

<br/>

{{#user}}
    You are already logged in as {{username}}. Logging in below will sign you out of your account.
    <br/>
{{/user}}

<form action="" method="post">
    Matriculation Number:<br>
    <input type="text" name="username" value="">
    <br>
    Password:<br>
    <input type="password" name="password" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>

{{> footer}}