<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>View student results</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/staff/createQuiz.css">

    <link rel="stylesheet" href="/student/takeQuiz.css">
    <script src="/staff/viewResult.js"></script>
</head>
<body>

Qs:
{{questionSets}}
Test:
{{testKey}}
QuizID: {{quizID}}

    <div class="panel panel-default panel-custom">
        <div  class="panel-body">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
                        <h1>Student results for: </h1>
                        <h2>Quiz - ID:  {{quizID}} </h2>
                </div>
            </div>

        </div>
    </div>

    <div id="resultContainer" >

        <div class="panel panel-default panel-custom">
            <div  class="panel-body">

                
            </div>
        </div>

        <div class="panel panel-default panel-custom">
            <div  class="panel-body">

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3  col-xs-0">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
                        <p>
                            <br>
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Student ID</th>
                                    <th>Score</th>
                                    <th>Date</th>
                                    <th>Duration</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Student ID e.g. 001</td>
                                    <td>Score e.g. 100%</td>
                                    <td>Date e.g. 24/02/2017</td>
                                    <td>Duration e.g. 40 mins</td>
                                    </tr>
                                  </tbody>
                              </table>
                            <br>
                            
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-default panel-custom">
            <div  class="panel-body">

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3  col-xs-0">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
                        <button id="backButton" onclick="goBack()">Go Back</button>
                    </div>
                </div>

                

                

            </div>
        </div>
    </div>
</body>
</html>
